@media (min-width:320px) {

  .display-none{
    display: none;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #393e46;
  }

  .post-data {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  .user-name{
    padding-right: 15px;
    font-size: 18px;
    color: #eeeeee;
  }

  .update-at{
    margin-top: 5px;
    font-size: 12px;
    color: #eeeeee;
  }

  .control-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .edit-link {
    padding: 5px 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border: transparent 2px solid;
    border-radius: 6px;
    color: #eeeeee;

    svg {
      margin-right: 7px;
    }
  }

  .remove-btn {
    padding: 5px 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border: transparent 2px solid;
    border-radius: 6px;
    color: #eeeeee;
    background-color: transparent;
    cursor: pointer;

    svg {
      margin-right: 7px;
    }
  }


}