@media (min-width:320px) {
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #393e46;
  }

  .confirmation-wrapper {
    width: 100%;
  }

  .confirmation-title {
    padding-top: 35px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: #eeeeee;
    background-color: transparent;
    text-transform: uppercase;
  }

  .confirmation-text{
    font-size: 18px;
    text-align: center;
    color: #eeeeee;
  }

  .confirmation-link {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 80px;
    display: block;
    color: #eeeeee;
    font-size: 16px;
    border: #00ADB5 2px solid;
    border-radius: 8px;
    text-transform: uppercase;
  }

  .home-link{
    padding-top: 100px;
    font-size: 16px;
    color: #eeeeee;
    cursor: pointer;
    text-decoration: underline;
  }

  canvas{
    height: 50px;
  }
}